# Compiled Object files
*.slo
*.lo
*.o
*.obj
build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/

cmake-build-*

CMakeUserPresets.json

/conanbuildinfo.txt
/graph_info.json
/conan.lock
/conaninfo.txt

build/
test_package/build/

*.bak
*~
