# Compiled Object files
*.slo
*.lo
*.o
*.obj
build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/

cmake-build-*

CMakeUserPresets.json

/conanbuildinfo.txt
/graph_info.json
/conan.lock
/conaninfo.txt

build/
test_package/build/

*.bak
*~

pyproject.toml
build-*/
/test_package/metadata/
/test_package/conanbuild.sh
/test_package/conanbuildenv-release-x86_64.sh
/test_package/conanrun.sh
/test_package/conanrunenv-release-x86_64.sh
/test_package/deactivate_conanbuild.sh
/test_package/deactivate_conanrun.sh
/test_package/deactivate_conanrunenv-release-x86_64.sh
